/* Basic styles for the blog layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Style the logo */

header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

article {
    border: 1px solid #ccc;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.advertise-section {
    flex-basis: 300px;
    border: 4px solid #ccc;
    padding: 100px;
}

.logo {
    
    position: absolute;
    top: 0px;
    left: 5px;
    /* Adjust width and height to make the image smaller */
    width: 130px; /* Example width */
    height: auto; 
}

.form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 200px;
}



  /* Styling for the form container */
  .form-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }

  /* Styling for form labels and inputs */
  label,
  input {
    display: block;
    margin-bottom: 10px;
  }