<!DOCTYPE html>
<html lang="en">
<head>
 
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link rel="stylesheet" href="style.css">
</head>

    <header>
        <h1>Welcome to AWS learning</h1>
       
        <img src="{{ url_for('static', filename='images/bloglogo2.png') }}" class="logo">

        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <body>
    <main>

      <section class="blog-posts">
            <article>
                <h2> How to use s3 Express one zone storge class</h2>
                <p>s3 express one zone storage class is a new feature. Which provides high performance however which is from a single AZ</p>
                <a href="#">Read More</a>
            </article>

            <h2 class="lb-bold blog-post-title"><a href="https://aws.amazon.com/blogs/training-and-certification/orangetheory-fitness-transforming-workouts-through-data-excellence/" property="url" rel="bookmark"><span property="name headline">Orangetheory Fitness: transforming workouts through data excellence</span></a></h2> 

            <article>
                <h2>What is the importance of S3</h2>
                <p> logo:
                    <img src="C:\\Users\\Akshith\\Desktop\\myblog\\bloglogo1.JPG" alt="Description of the image" width="300" height="200">   
                </p>
                <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/batch-ops-examples-copy.html">Read More</a>
            </article>
            <article>
                <h2> How to use s3 Express one zone storge class</h2>
                <p>s3 express one zone storage class is a new feature. Which provides high performance however which is from a single AZ</p>
                <a href="#">Read More</a>
            </article>
            <!-- More blog posts can be added similarly -->

            <aside class="advertise-section">
                <h2>Advertisements</h2>
                <p>Ad content goes here...</p>
                <!-- Include your advertisement content or banners here -->
            </aside>
            <article>
                <h2> How to use s3 Express one zone storge class</h2>
                <p>s3 express one zone storage class is a new feature. Which provides high performance however which is from a single AZ</p>
                <a href="#">Read More</a>
            </article>
            <article>
                <h2> How to use s3 Express one zone storge class</h2>
                <p>s3 express one zone storage class is a new feature. Which provides high performance however which is from a single AZ</p>
                <a href="#">Read More</a>
            </article>
            <article>
                <h2> How to use s3 Express one zone storge class</h2>
                <p>s3 express one zone storage class is a new feature. Which provides high performance however which is from a single AZ</p>
                <a href="#">Read More</a>
            </article>
            <article>
                <h2> How to use s3 Express one zone storge class</h2>
                <p>s3 express one zone storage class is a new feature. Which provides high performance however which is from a single AZ</p>
                <a href="#">Read More</a>
            </article>
       </section>



    </main>

    <footer>
        <p>&copy; Blog by Ganesh Chitikana</p>
    </footer>
</body>
</html>
